@use 'variables';
.countdown-timer {
	position: relative;
	svg {
		width: 100%;
		height: 400px;
		transform: rotateZ(270deg) rotateX(180deg);
		.rem-circle {
			stroke-dasharray: 750px;
			stroke-linecap: round;
			stroke-width: 8px;
			stroke: variables.$blue;
			fill: none;
		}
		.rem-circle-break {
			stroke: variables.$yellow;
		}
		.bg-circle {
			stroke-width: 6px;
			stroke: variables.$bg-03;
			fill: none;
		}
	}
	.rem-time {
		position: absolute;
		top: 39%;
		left: 50%;
		font-size: 50px;
		transform: translateX(-50%);
	}
}
