.create-project {
  &__project-name {
    margin-left: 20px;
    padding-left: 10px;
    border: 1px solid $border;
    border-radius: 2px;
    width: 320px;
    height: 40px;
    &::placeholder {
      font-size: 14px;
      line-height: 16px;
      color: $lighter_text;
    }
  }
  &__client-list {
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }
  &__billable {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    align-items: center;
    &-title {
      margin-left: 10px;
      color: $middle_light_text;
      font-size: 14px;
      cursor: pointer;
    }
    &-img {
      margin-top: 2px;
      margin-left: 1px;
      &-hidden {
        visibility: hidden;
      }
    }
  }
  &__checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: white;
    border: 1px solid $border;
    border-radius: 2px;
    cursor: pointer;
  }
  &__divider {
    height: 1px;
    border-bottom: 1px dotted #cacaca;
  }
  &__add-button {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 18px;
    width: 320px;
    height: 32px;
    background-color: $blue;
    border-radius: 2px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  &__cancel {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 40px;
    color: $blue;
    cursor: pointer;
  }
}