.header_and_timer {
  position: fixed;
  width: 100vw;
  z-index: 1111;
  background: #eff4f7;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  top: 0;
}

.header-back {
  color: $blue;
  cursor: pointer;
}

.logo {
  display: block;
  width: 100px;
  height: 25px;
  background-image: url("../assets/images/clockify_logo.svg");
  cursor: pointer;
}

.logo-selfhosted {
  display: block;
  width: 100px;
  height: 30px;
  background-image: url("../assets/images/clockify_logo_selfhosted.svg");
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 20px;
  padding: 20px;
  text-align: right;

  &__login-url {

    a {
      color: #03a9f4;
      font-size: 15px;
      cursor: pointer;
    }
  }

  &__break {
    padding-top: 0px;
    margin: 0px;
    border-top:0px;
    border-bottom: 1px dotted #cacaca;
  }
}

.actions {
  float: right;
  cursor: pointer;
  z-index: 1051;
  width: 20px;
  height: 18px;
  background-image: url("../assets/images/menu.png");

  &:hover {
    width: 20px;
    height: 18px;
    background-image: url("../assets/images/menu-hover.png");
  }
}

.header-offline {
  text-align: center;
  background: $middle_light_text;
  color: white;
}

.header-sync {
  display: inline-block;
  width: 20px;
  height: 18px;
  margin-right: 15px;
  cursor: pointer;
  background-image: url("../assets/images/sync.png");

  &:hover {
    width: 20px;
    height: 18px;
    background-image: url("../assets/images/sync-hover.png");
  }
}