@use 'variables';

.pomodoro {
	diplay: flex;
	margin: 10px 20px;
	align-items: center;

	&__border {
		width: 100vw;
		border-bottom: 1px solid #eff4f7;
	}

	&__checkbox {
		display: inline-block;
		width: 16px;
		height: 16px;
		border: 1px solid variables.$border;
		position: relative;
		cursor: pointer;
		background: white;

		&--img {
			content: url('../assets/images/checked.png');
			margin-top: 3px;
			margin-bottom: 2px;
		}

		&--img_hidden {
			content: url('../assets/images/checked.png');
			margin-top: 3px;
			margin-bottom: 2px;
			visibility: hidden;
		}
	}

	&__title {
		margin-left: 10px;
		font-size: 13px;
		font-weight: 400;
		color: variables.$middle_light_text;

		&--shortcut {
			margin-left: 3px;
			font-size: 13px;
			font-weight: 400;
			color: variables.$lighter_text;
		}
	}

	&__content {
		display: inline-flex;
		flex-direction: column;
		background-color: #e4eaee;
		align-items: center;
	}

	&__box {
		height: 60px;

		&__content {
			display: flex;
			margin: 10px 20px;
			justify-content: space-between;
			align-items: center;
			width: 85%;

			&--right_side {
				display: flex;
				width: 100px;
			}

			input {
				width: 40px;
				height: 40px;
				border: 1px solid #c6d2d9;
				border-radius: 5px;
				margin-right: 5px;
				color: #999999;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 16px;
				text-align: center;
			}

			p {
				font-size: 13px;
				font-weight: bold;
				color: #666666;
			}
		}
	}
}
