.project-list-button {
  padding: 6px 0;
  background: white;
  border: 1px solid $border;
  border-radius: 2px;
  cursor: pointer;
  align-items: center;
  box-sizing: border-box;

  &-required {
    padding: 5px 0;
    background: white;
    border: 1px solid $red;
    border-radius: 2px;
    cursor: pointer;
  }
}

.project-list-button-offline {
  width: 100%;
  height: 40px;
  background: $disabled;
  margin: 10px 0;
  border: 1px solid $border;
  border-radius: 2px;
  cursor: not-allowed;
}

.project-list-name {
  display: inline-block;
  padding: 5px 10px;
  width: 85%;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $lighter_text;
}

.project-list-arrow {
  position: relative;
  width: 10px;
  height: 5px;
  float: right;
  padding-right: 15px;
  top: 11px;
  content: url("../assets/images/arrow-light-mode.png");
}

.project-list-dropdown {
  position: absolute;
  width: 100%;
  left: 0;
  top: 39px;
  background: white;
  z-index: 2;
  box-shadow: 0 5px 7px #ccc;
  font-size: 14px;
  border-radius: 2px;
  &--content {
    height: 269px;
    overflow-y: auto;
  }
}

.project-list-input {
  background: white;
  padding: 10px;

  &--border {
    position: relative;
  }
}

.project-list-filter {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid $border;
  border-radius: 2px;

  &__clear {
    position: absolute;
    right: 10px;
    top: 14px;
    height: 12px;
    width: 12px;
    content: url("../assets/images/x.png");
    cursor: pointer;
  }
}

.tasks-arrow-down {
  content: url("../assets/images/filter-arrow-down.png");
  margin-left: 10px;
}

.tasks-arrow-right {
  content: url("../assets/images/filter-arrow-right.png");
  position: relative;
  top: 2px;
  margin-left: 10px;
}

.project-item {
  padding: 7px 0 8px 15px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: $entries_header;
  }
}

.project-item-task {
  margin-right: 5px;
  float: right;
  color: $lighter_text;
  font-size: 13px;
}

.project-name {
  display: inline-block;
  position: relative;
  top: 3px;
  width: 190px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
  color: $dark_text;
}

.task-item {
  padding: 7px 0 7px 25px;
  background-color: $task-background;
  color: $dark_text;
  font-size: 14px;
  line-height: 16px;
  &:hover {
    background-color: $entries_header;
    cursor: pointer;
  }
  &:first-child {
    padding-top: 10px;
  }
  &:last-child {
    padding-bottom: 10px;
  }
}
.project-list-load {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  color: $middle_light_text;
  cursor: pointer;
}
.project-list-client {
  margin: 10px;
  padding-top: 5px;
  border-top: 1px dotted $border;
  color: $lighter_text;
}
.projects-list {
  position: relative;

  &__create-project {
    position: absolute;
    display: flex;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 17px;
    bottom: 0px;
    width: 320px;
    background: white;
    box-shadow: 0 -5px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    &--icon {
      width: 19px;
      height: 19px;
      margin-right: 7px;
      margin-left: 10px;
      content: url("/assets/images/create.png");
    }
    &--text {
      color: $blue;
      font-size: 14px;
      line-height: 16px;
    }
  }
  &__bottom-padding {
    padding-bottom: 65px;
    width: 100%;
  }
}