.dropdown-subitem:hover .refresh-icon,
.refresh-icon:hover {
	width: 20px;
	height: 18px;
	background-image: url('../assets/images/sync-hover.png');
}

.refresh-icon {
	display: inline-block;
	width: 20px;
	height: 18px;
	margin-right: 15px;
	cursor: pointer;
	background-image: url('../assets/images/sync.png');
}
