@use 'variables';

.self-hosted-url {
	width: 87%;
	margin: 20px;
	margin-top: 50px;

	input {
		width: 100%;
		height: 40px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 10px;
		border: 1px solid variables.$border;
		border-radius: 3px;
	}

	&__label {
		margin: 10px;
		font-size: 14px;
		font-weight: bold;
		color: variables.$middle_light_text;
	}

	&__server_url {
		font-size: 14px;
		font-weight: bold;
		color: variables.$middle_light_text;
	}

	&__logo {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__actions {
		width: 87%;
		margin-right: auto;
		margin-left: auto;
		text-align: center;

		&--submit {
			display: block;
			padding: 5px 10px;
			margin-bottom: 30px;
			width: 100%;
			font-size: 14px;
			height: 50px;
			border: 1px solid variables.$blue;
			background-color: variables.$blue;
			text-transform: uppercase;
			color: #ffffff;
		}

		&--cancel {
			color: variables.$blue;
			font-size: 14px;
			text-decoration: none;
			cursor: pointer;

			&:hover {
				color: variables.$blue_hover;
				text-decoration: underline;
			}
		}
	}
}
