.time-entries-list-not-synced {
  position: relative;
  top: -40px;
  margin: 20px;
  border: 1px solid $border;
}

.time-entry-not-synced {
  background: white;
  padding: 15px;
  border-bottom: 1px solid $border;
  cursor: pointer;
}

.time-entry-not-synced-sync {
  float: right;
  width: 20px;
  height: 20px;
  background-image: url("../assets/images/edit-unsynced.png");

  &:hover {
    width: 20px;
    height: 20px;
    background-image: url("../assets/images/edit-unsynced-hover.png");
  }
}

.time-entry-not-synced {
  &-description {
      display: inline-block;
      width: 170px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }

  &-placeholder {
    display: inline-block;
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $lighter_text;
  }
}

.time-entry-not-synced-time {
  color: $dark_text;
}