.time-entries-list {
    background: $background;
    margin: 20px;
    border: 1px solid $border;
    border-radius: 2px;
}

.time-entries-list-time {
    background: $entries_header;
    color: $lighter_text;
    padding: 20px 10px;
    border-bottom: 1px solid $border;
}

.time-entries-list-day {
    position: relative;
    top: -7px;
    float: left;
    color: $dark_text;
    font-size: 12px;
    line-height: 14px;
}

.time-entries-total-and-time {
    position: relative;
    top: -7px;
    float: right;
}

.time-entries-list-total-time {
    color: $dark_text;
    font-size: 12px;
    line-height: 14px;
}

.time-entries-list-total {
    margin-right: 3px;
    color: $lighter_text;
    font-size: 12px;
    line-height: 14px;
}

.no-entries-img {
    width:299px;
    height: 85px;
    content: url("../assets/images/clockify_illustration.png");
}

.no-entries {
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 300px;
}

.no-entries span {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
}

.no-entries label {
    color: #999;
}