.time-entry {
  height: 60px;
  background: white;
  border-bottom: 1px solid $border;
  cursor: pointer;
  font-size: 14px;
  color: $dark_text;
  position: relative;
  z-index: 1;
  transition: all 0.2s ease;

  &__project-name {
    display: inline-block;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__task-name {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__right-side {
    display: flex;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    justify-content: space-between;
    width: 100px;

    &__lock_and_duration {
      display: flex;
      margin-left: 10px;
      align-items: center;
    }

    &__lock {
      display: block;
    }
  }

  &:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    z-index: 2;
  }
}

.time-entry-locked {
  height: 60px;
  background: $background;
  border-bottom: 1px solid $border;
  cursor: not-allowed;
  font-size: 14px;
  color: $dark_text;
}

.time-entry-description {
  display: inline-block;
  position: relative;
  width: 55%;
  top: 50%;
  transform: translate(0, -50%);
  float: left;
  margin-left: 15px;
}

.time-entry-arrow {
  padding: 8px;
  content: url("../assets/images/play-normal.png");
}

.time-entry-arrow:hover {
  content: url("../assets/images/play-hover.png");
  cursor: pointer;
}

.time-entry-duration {
  position: relative;
  top: 22px;
  margin-left: 10px;
}

.time-entry-project {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  width: 100%;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}