@use 'variables';

.workspace-list {
	position: relative;
	cursor: default;
	padding-bottom: 5px;
	&-selection {
		display: flex;
		align-items: center;
		border: 1px solid variables.$border;
		background: white;
		cursor: pointer;
		margin: 0 10px;
	}
	&-default {
		display: inline-block;
		padding: 5px 10px;
		color: variables.$middle_light_text;
		width: 162px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&-dropdown {
		position: absolute;
		width: 84%;
		height: 165px;
		left: 20px;
		top: 50px;
		background: white;
		z-index: 2;
		box-shadow: 0 5px 7px #ccc;
		overflow-x: hidden;
		overflow-y: scroll;
		font-size: 14px;
		border-radius: 2px;
	}
	&-title {
		margin: 5px 20px;
		font-weight: bold;
		font-size: 14px;
		color: variables.$middle_light_text;
	}
	&-item {
		display: flex;
		padding-bottom: 10px;
		padding-top: 10px;
		padding-left: 20px;
		flex-wrap: nowrap;
		justify-content: space-between;
		font-size: 13px;
		color: variables.$dark_text;

		&:hover {
			background: variables.$entries_header;
		}

		&__name {
			width: 150px;
			overflow: hidden;
			text-overflow: ellipsis;
			cursor: pointer;
			white-space: nowrap;
		}

		&--disabled &__name {
			color: variables.$disabled;
			cursor: not-allowed;
		}
	}
	&-active {
		margin-right: 15px;
		color: variables.$green;

		&__img {
			display: inline-block;
			width: 15px;
			height: 12px;
			margin-right: 5px;
			background-image: url('../assets/images/workspace-checked.png');
		}
	}
}
