// @use "../styles/antd-time-picker.css";
// @use "../styles/antd-switch.css";
@use 'splash-screen';
@use 'variables';
@use 'login';
@use 'header';
@use 'start-timer';
@use 'menu';
@use 'time-entry';
@use 'time-entry-list';
@use 'duration';
@use 'edit-form';
@use 'projects-list';
@use 'tag-list';
@use 'poppup-modal';
@use 'custom-fields';
@use 'settings';
@use 'required-fields';
@use 'datepicker';
@use 'sign-up';
@use 'time-entry-list-not-synced';
@use 'self-hosting';
@use 'pomodoro';
@use 'countdown-timer';
@use 'dark-mode-settings';
@use 'delete-entry-confirmation-dialog';
@use 'workspace-change-confirmation-dialog';
@use 'default-project';
@use 'workspace-list';
@use 'toaster';
@use 'create-project';
@use 'client-list';
@use 'color-picker';
@use 'sub-domain';
@use 'integration';
@use 'global';
@use 'dark-mode';
@use 'refresh-button';
@use 'notification-modal';
@use 'banners';
@use 'notifications';
