*.iml
.gradle
.DS_Store
Dockerfile
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/
.sass-cache/
chrome/
chrome.dev/
chrome.dev.zip
firefox/
firefox.dev/
firefox.dev.zip
dist/
node_modules/
www/
stylesheets/
package-lock.json
chrome/
firefox/
winehq.key
