$red: #f44336;
$orange: #ff9800;
$warning: #ffeacc;
$blue: #03a9f4;
$black: #000000;
$yellow: #ffc107;
$blue_hover: #0091ea;
$blue_tag: #02587f;
$background: #eff4f7;
$border: #c6d2d9;
$border_focus: #90a4ae;
$light_text: #c6d2d9;
$lighter_text: #999999;
$middle_light_text: #666666;
$entries_header: #e4eaee;
$dark_text: #333333;
$tags: #e1f5fe;
$green: #8bc34a;
$disabled: #c6d2d9;
$input-background: #ffffff;
$hover-selection: #e4eaee;
$task-background: #f2f6f8;

$bg-12: #12191d;
$bg-11: #1d272c;
$bg-10: #263238;
$bg-09: #37474f;
$bg-04: #90a4ae;
$bg-03: #c6d2d9;
$bg-02: #e4eaee;
