.clockify-button-active, .clockify-button-inactive:hover {
  color: #03A9F4;
  padding: 20px;
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.3204 5.49929L13.9454 1.82335L14.9831 2.87479L11.358 6.55073L10.3204 5.49929ZM8.85151 9.25581C8.14209 9.25581 7.56735 8.67078 7.56735 7.94843C7.56735 7.22682 8.14209 6.64102 8.85151 6.64102C9.56092 6.64102 10.1357 7.22682 10.1357 7.94843C10.1357 8.67078 9.56092 9.25581 8.85151 9.25581ZM15 13.0527L13.9624 14.1049L10.3373 10.4289L11.3749 9.37668L15 13.0527Z' fill='%23222222'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.88892 13.6023C9.61963 13.6023 10.3158 13.4546 10.9539 13.1919L12.7244 14.9881C11.5889 15.6306 10.282 16 8.88892 16C4.53235 16 1 12.4181 1 8.00036C1 3.58192 4.53235 0 8.88892 0C10.268 0 11.5632 0.360432 12.6906 0.991004L10.9494 2.75733C10.3121 2.49615 9.61818 2.3484 8.88892 2.3484C5.83785 2.3484 3.36446 4.86768 3.36446 7.97575C3.36446 11.083 5.83785 13.6023 8.88892 13.6023Z' fill='%2303A9F4'/%3E%3C/svg%3E") left center no-repeat;
}

.clockify-button-inactive {
  color: rgb(68,68,68);
  padding: 20px;
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.3204 5.49929L13.9454 1.82335L14.9831 2.87479L11.358 6.55073L10.3204 5.49929ZM8.85151 9.25581C8.14209 9.25581 7.56735 8.67078 7.56735 7.94843C7.56735 7.22682 8.14209 6.64102 8.85151 6.64102C9.56092 6.64102 10.1357 7.22682 10.1357 7.94843C10.1357 8.67078 9.56092 9.25581 8.85151 9.25581ZM15 13.0527L13.9624 14.1049L10.3373 10.4289L11.3749 9.37668L15 13.0527Z' fill='%2360747C'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.88892 13.6023C9.61963 13.6023 10.3158 13.4546 10.9539 13.1919L12.7244 14.9881C11.5889 15.6306 10.282 16 8.88892 16C4.53235 16 1 12.4181 1 8.00036C1 3.58192 4.53235 0 8.88892 0C10.268 0 11.5632 0.360432 12.6906 0.991004L10.9494 2.75733C10.3121 2.49615 9.61818 2.3484 8.88892 2.3484C5.83785 2.3484 3.36446 4.86768 3.36446 7.97575C3.36446 11.083 5.83785 13.6023 8.88892 13.6023Z' fill='%2360747C'/%3E%3C/svg%3E") left center no-repeat;
}

.clockify-input {
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  padding: 0 .75rem;
}

.clockify-input-default {
  border-color: #c6d2d9;
  color: #333;
  background-color: white;
}

.clockify-input-success {
  border-color: #1aaa55;
  color: #168f48;
  background-color: #d4edda;
}

.clockify-input-error {
  border-color: #aa1a1a;
  color: #8f1616;
  background-color: #f8d7da;
}

.backlog-table-body .user-story-name a.clockify-button-inactive{
  flex-grow: 0;
}

.backlog-table-body .user-story-name a.clockify-button-active{
  flex-grow: 0;
}